//min-with:1300px
.container-events {
    max-width: rem(1280px);
    margin: rem(163px) auto 0;
}

.container-events-figure__img {
    width: rem(688px);
    max-width: rem(688px);
    height: rem(650px);
}

.events-figure__img {
    @include flex-basis(rem(688px)); //justify-self: start;
    display: block;
    background: url('#{$img}pc_events.jpg') no-repeat;
    width: rem(688px);
    height: rem(650px);
    padding-left: rem(688px);
}

.events-figure__figcaption_title {
    font-size: 100px;
    top: -95px;
    left: -171px;
    &::after {
        font-size: 200px;
        top: 94px;
        left: -17px;
    }
}

.events-figure__figcaption_text {
    max-width: 380px;
    top: -92px;
    left: 200px;
    @supports (left: auto) {
        //override IE11 - margin-left: 155px;
        left:80px;
    }
}

.events-figure__button {
    top: 376px;
    right: 250px;
    max-width: 260px;
    width: 260px;
    padding: rem(27px) 0;
    &:hover {
        @include whiteButtonHover;
    }
    &:active {
        @include whiteButtonActive;
    }
}