//min-with:1300px
.container-fashion {
    max-width: rem(1280px);
    margin: rem(120px) auto 0;
}

.fashion-figure__figcaption_title {
    font-size: 100px;
    top: 92px;
    left: -156px;
    &::after {
        font-size: 200px;
        top: 130px;
        left: 7px;
    }
}

.fashion-figure__figcaption_text {
    max-width: 380px;
    padding-top: rem(110px);
    margin-left: rem(215px);//130
    @supports(margin-left: auto){
        margin-left: rem(130px);//130
    }
}

.container-fashion-figure__img {
    width: rem(639px);
    max-width: rem(639px);
    height: rem(1011px);
}

.fashion-figure__img {
    @include flex-basis(rem(639px)); //justify-self: start;
    display: block;
    background: url('#{$img}pc_fashion.jpg') no-repeat;
    width: rem(639px);
    height: rem(1011px);
    padding-left: rem(639px);
}

.fashion-figure__button {
    position: absolute;
    display: inline-block;
    bottom: 385px;
    right: 252px;
    max-width: 260px;
    width: 260px;
    padding: rem(27px) 0;
    &:hover {
        @include whiteButtonHover;
    }
    &:active {
        @include whiteButtonActive;
    }
}