//***************min-width:1300px

/* .footer {
    //margin-top: 530px;
} */

.footMenu__item__socialIcons {
    display: flex;
    align-items: center;
    margin-bottom: 0;
}

.footMenu__svglink:not(:last-of-type) {
    margin-right: rem(40px);
}

.footMenu__svg-icon {
    max-width: rem(22px);
    max-height: rem(22px);
    fill: #fff;
    cursor: pointer;
}