//max-width: 1300px
.container-major__num {
    right: 48px;
    font-size: 18px;
}

.container-major__num1 {
    top: 438px;
}

.container-major__num2 {
    top: 1266px;
}

.container-major__num3 {
    top: 2185px;
}

.container-major__num4 {
    top: 3179px;
}