.container-major {
    &::before {
        width: calc(100% - 60px);
        height: calc(100% - 60px);
        top: rem(60px);
    }
}

.topMenu__list {
    top: 48px;
    //animation: bounceInLeft 1s;
}

.topMenu__link,
.footMenu__svglink {
    transition: 0.1s ease;
    &:hover {
    transform: scale(1.1);
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
    }
}

.footMenu__link:hover {
    transform: scale(1.1);
    text-shadow: 2px 2px 3px rgba(255, 255, 255, 0.6),
    2px 2px 5px rgba(0, 0, 0, 1);
    }

.topMenu__link_facebook_svg-icon,
.topMenu__link_instagram_svg-icon,
.topMenu__link_share_svg-icon {
    &:hover {
        fill: #7b7b7b;
    }
}