//min-with:1300px
.container-portrait {
    max-width: rem(1280px);
    margin: 160px auto 0;
}

.container-portrait-figure__img {
    margin: 0 60px 0;
    height: 751px;
}

.portrait-figure__img {
    @include flex-basis(rem(584px)); //justify-self: start;
    display: block;
    background: url('#{$img}pc_portrait.jpg') no-repeat;
    width: rem(584px);
    height: rem(751px);
    padding-left: rem(584px);
}

.portrait-figure__figcaption_title {
    font-size: 100px;
    top: 101px;
    left: 157px;
    &::after {
        font-size: 200px;
        top: -94px;
        left: -296px;
    }
}

.portrait-figure__figcaption_text {
    top: 221px;
    left: 165px;
}

.portrait-figure__button {
    left: 165px;
    bottom: 340px;
    &:hover {
        @include whiteButtonHover;
    }
    &:active {
        @include whiteButtonActive;
    }
}