.portfolio__img {
    width: calc(33% - 3px);
    max-width: 100%;
}

.portfolioPage-header__title{
    font-size: 50px;
}

//=============slider==========

.portfolioPage__slider_slide__text{
    @include headingLarge;
    top: calc(50% - 50px);
}