//fonts
$google-font: 'https://fonts.googleapis.com/css?family=Raleway:300,400,600';

$mainFont: 'Raleway', sans-serif;

$baseFontSize: 16px;

$pcWidth: 1300px;
$tabletWidth: 768px;
$mobileWidth: 320px;

// Paths
$img: "../img/";
$usersPath: "../userfiles/";
$fontPath: "../fonts/";

// Colors
$whiteThemeColor: #ffffff;
$blackThemeColor: #000000;
$blackBackground: #363636;
$greyBorder: #888888;
$mirrorTextColor: #e5e4e4;
$greyThemeColor: #eeeeee;
$redThemeColor: #ff4040;
