//min-width:768px

.container-pageCover {
    padding: rem(205px) rem(35px) 0;
}

.container-pageCover__inner {
    position: relative;
    max-width: rem(538px);
    margin: 0 auto;
}

.pageCover__title1 {
    padding-top: rem(130px);
    font-size: rem(16px);
    padding-left: rem(122px);
    &::after {
        left: 110px;
        top: 133px;
        width: 9px;
        height: 9px;
    }
}

.pageCover__title2 {
    padding-bottom: rem(130px);
    font-size: rem(48px);
    &::after {
        top: -48px;
        left: 50%;
        transform: translateX(-50%);
        font-size: rem(140px);
        font-weight: 400;
        z-index: -1;
    }
}

