//min-with:768px
.container-portrait {
    max-width: rem(748px);
    margin: rem(260px) auto 0;
}

.portrait-figure {
    max-width: 100%;
    @include display(flex);
    @include justify-content(flex-end);
}

.container-portrait-figure__img {
    margin: 0 40px 0;
    order: 2;
    max-width: calc(100% - 40px);
    height: rem(536px);
}

.portrait-figure__img {
    @include flex-basis(rem(372px)); //justify-self: start;
    display: block;
    background: url('#{$img}tablet_portrait.jpg') no-repeat;
    width: rem(372px);
    height: rem(536px);
    padding-left: rem(372px);
}

.portrait-figure__figcaption {
    width: 100%;
}

.portrait-figure__figcaption_title {
    position: absolute;
    top: 121px;
    left: 14px;
    transform: none;
    @include headingLarge;
    font-size: rem(72px);
    letter-spacing: 5.5px;
    text-align: left;
    &::after {
        position: absolute;
        top: -109px;
        left: -6px;
        font-size: rem(150px);
        font-weight: 400;
    }
}

.portrait-figure__figcaption_text {
    position: relative;
    top: 221px;
    left: 50px;
}

.portrait-figure__figcaption_text-ellipsis {
    display: none;
}

.portrait-figure__figcaption_text-end {
    display: inline;
}

.portrait-figure__button {
    position: absolute;
    display: inline-block;
    bottom: 116px;
    left: 51px;
    max-width: 260px;
    width: 260px;
    padding: rem(25px) 0;
}