body {
    position: relative;
}

.container-major {
    position: relative;
    padding: 0 1.25rem 3.125rem 0;
    overflow: hidden;
    &::before {
        content: '';
        position: absolute;
        width: calc(100% - 20px);
        height: calc(100% - 40px);
        top: rem(20px);
        left: 0;
        border: 1px solid #000;
        border-left: none;
    }
}

.header {
    position: relative;
}

.svg-icon__mobIco-open {
    position: absolute;
    top: rem(27px);
    right: rem(18px);
    display: inline-block;
    width: rem(35px);
    height: rem(35px);
    fill: #000;
    cursor: pointer;
    transform: scaleY(0.6);
    z-index: 10;
}

.nav-topMenu {
    position: absolute;
    width: calc(100% + 20px);
    background: rgba(0, 0, 0, 0.859);
    border: 2px solid rgba(255, 255, 255, 0.455);
    display: none;
    transition: 0.7s ease;
    z-index: 10;
}

.topMenu__mobIco {
    padding-bottom: rem(30px);
}

.svg-icon__mobIco {
    position: absolute;
    top: rem(30px);
    right: rem(30px);
    display: inline-block;
    max-width: rem(25px);
    max-height: rem(25px);
    fill: #a1a1a1;
    cursor: pointer;
    z-index: 2;
}

.topMenu__svglink {
    text-decoration: none;
}

.topMenu__list {
    list-style-type: none;
}

.topMenu__item {
    display: block;
}

.topMenu__link {
    display: block;
    text-align: center;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    padding: rem(55px) 0 0;
    position: relative;
    &::before {
        content: '';
        position: absolute;
        left: 10%;
        bottom: -8px;
        width: 80%;
        height: 1px;
        background: #424242;
    }
}

.topMenu__item__socialIcons {
    display: block;
    max-width: rem(155px);
    margin: 0 auto;
    padding: rem(50px) 0 rem(30px) 0;
    text-align: center;
    @include display(flex);
    @include justify-content(space-between);
}

.topMenu__link_facebook_svg-icon,
.topMenu__link_instagram_svg-icon,
.topMenu__link_share_svg-icon {
    display: inline-block;
    max-width: rem(22px);
    max-height: rem(22px);
    fill: #fff; // margin-right: rem(50px);
}

.topMenu__link_share_svg-icon {
    margin-right: 0;
}