//mobile
// ========================pageCover===========
.container-pageCover {
    //border: 1px solid red;
    padding: rem(95px) rem(35px) 0;
}

.container-pageCover__inner {
    position: relative;
    max-width: rem(230px);
    margin: 0 auto; //border: 1px solid red;
}

.pageCover__title1 {
    padding-top: rem(40px);
    padding-left: rem(28px);
    font-size: rem(14px);
    font-weight: 600;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    text-align: left;
    position: relative; //============
    &::after {
        position: absolute;
        left: 17px;
        top: 46px;
        content: '';
        width: 4px;
        height: 4px;
        background: #fc3d3d;
        border-radius: 50%;
    }
}

.pageCover__title2 {
    padding-bottom: rem(50px);
    font-size: rem(30px);
    font-weight: 600;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    text-align: center;
    position: relative;
    &::after {
        position: absolute;
        top: -24px;
        left: 50%;
        transform: translateX(-50%);
        content: 'vérité laide';
        white-space: nowrap;
        color: rgba(229, 228, 228, 0.45);
        font-size: rem(60px);
        font-weight: 600;
        z-index: -1;
    }
}

//===========pageCover__border===============
.pageCover__border {
    position: absolute;
    content: '';
    display: block;
    width: rem(42px);
    height: rem(25px);
    background: transparent;
}

.pageCover__border-top_left {
    top: 0;
    left: 0;
    border-left: 1px solid $greyBorder;
    border-top: 1px solid $greyBorder;
}

.pageCover__border-top_right {
    top: 0;
    right: 0;
    border-right: 1px solid $greyBorder;
    border-top: 1px solid $greyBorder;
}

.pageCover__border-boottom_left {
    bottom: 0;
    left: 0;
    border-left: 1px solid $greyBorder;
    border-bottom: 1px solid $greyBorder;
}

.pageCover__border-boottom_right {
    bottom: 0;
    right: 0;
    border-right: 1px solid $greyBorder;
    border-bottom: 1px solid $greyBorder;
}

//========social icons============================
.pageCover__item__socialIcons {
    display: none;
}