* {
    font-family: $mainFont;
}

.portfolioPage-mainContainer {
    max-width: calc(100% - 20px);
    max-height: calc(100% - 20px);
    margin: 20px 20px 0 0;
    padding: 1rem;
    border: 1px solid #000;
    border-left: none;
    position: relative;
}

.portfolioPage-header__link {
    position: absolute;
    top: -10px;
    background: #fff;
    padding: 0 0.2rem;
    text-decoration: none;
    cursor: pointer;
    color: #000000;
    text-transform: uppercase;
    font-size: 1.125rem;
}

.portfolioPage-header__link-home {
    right: 9.5rem;
}

.portfolioPage-header__link-homeContact {
    right: 1rem;
}

.portfolioPage-header__title {
    @include headingMedium;
    font-size: 40px;
}

//=========slider==============
.portfolioPage__slider{
    position: relative;
    width: 100%;
    max-width: rem(1139px);
    margin: 2rem auto 0;
}

.portfolioPage__slider_slide{
    position: relative;
    border: 1px solid #333;
}

.portfolioPage__slider_slide__text{
    @include headingSmallLight;
    position: absolute;
    display: inline-block;
    color: #fff;
    opacity: 0.7;
    top: calc(50% - 9px);
    left: 50%;
    transform: translateY(-50%);
    transform: translateX(-50%);
}

.slick-dots li button {
    display: none;
}

//===========gallery-box-NAV=====================
.container-portfolioPage__galleryBlock {
    margin: 5rem auto 1rem;
    width: 100%;
    max-width: 1140px;
    position: relative;
}

.container-portfolioPage__galleryBlock_goTop {
    position: fixed;
    bottom: 7rem;
    right: rem(5px);
    z-index: 5;
    opacity: 0.5;
    & a {
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: flex-end;
        width: 2rem;
        height: 2rem;
        font-size: 1.5rem;
        text-decoration: none;
        color: #fff;
        border-radius: 50%;
        background: #000;
    }
}

.portfolio__img {
    width: 100%;
    max-width: 100%;
    margin: 10px auto 0;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    border-radius: 4px;
}

.galleryBlock__nav {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}

.galleryBlock__btn {
    color: $blackThemeColor;
    padding: 0.7rem 0.5rem;
    position: relative;
    &:focus {
        outline: none;
        &::after {
            position: absolute;
            content: '';
            width: rem(30px);
            height: 2px;
            background: $blackBackground;
            left: 50%;
            transform: translateX(-50%);
            bottom: 0;
        }
    }
}

.gutter-sizer {
    width: rem(10px);
}

//=====footer============
.portfolioPage-footer {
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    padding: 2.5rem;
    background: $blackBackground;
}

.portfolioPage-footer__text {
    text-align: left;
    font-size: rem(12px);
    color: $whiteThemeColor;
}

.portfolioPage-footer__company {
    text-align: right;
    font-size: rem(14px);
    color: $whiteThemeColor;
    text-transform: uppercase;
    font-weight: 600;
}

.portfolioPage__footMenu_svg-icon {
    fill: #fff;
    display: none;
}